.alertify-notifier {
    color: white !important;
}
.unread-messages-counter {
    background: rgb(233 244 250) !important;
    color: black !important;
}
.dropdown .dropdown-toggle {
    background: none !important;
    border: none !important;
    color: black !important;
}
.color-black {
    color: black;
}
.position-relative {
    position: relative !important;
}
.cursor-pointer {
    cursor: pointer;
}
.post-image {
    width: 100%;
    height: 400px;
    object-fit: contain;
}
aside.sidebar ul.naves li a {
    text-decoration: none !important;
}
.counter {
    background-color: #424242;
    padding: 5px;
}
.user-img {
    width: 75px !important;
    height: 75px !important;
    object-fit: cover !important;
    border-radius: 0% !important;
}
.width-100 {
    width: 100% !important;
}
.display-contents {
    display: contents !important;
}
.justify-content-left {
    justify-content: left !important;
}
.user-profile-header {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50% !important;
}