Options -Indexes
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^blogs$ blogs/index.html [L]
RewriteRule ^blogs/([a-zA-Z0-9\-\s]+)$ blogs/detail.html?slug=$1 [QSA,L]

<Files "public/js/script.js"> 
    Header set Cache-Control "no-cache, no-store, must-revalidate" 
    Header set Pragma "no-cache" 
    Header set Expires "0" 
</Files>

<Files "public/components/Header.js"> 
    Header set Cache-Control "no-cache, no-store, must-revalidate" 
    Header set Pragma "no-cache" 
    Header set Expires "0" 
</Files>

<Files "public/components/Chat.js"> 
    Header set Cache-Control "no-cache, no-store, must-revalidate" 
    Header set Pragma "no-cache" 
    Header set Expires "0" 
</Files>
 
<Files "public/css/styles.css"> 
    Header set Cache-Control "no-cache, no-store, must-revalidate" 
    Header set Pragma "no-cache" 
    Header set Expires "0" 
</Files>